<% provide(:title, "Login") %>

<div class="row">
  <h1>Login</h1>
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do %> 
      
      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Login", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Signup!", signup_path %></p>
  </div>
</div>

<!-- 
<div class="input-group input-group-lg">
  <span class="input-group-addon"><%#= label_tag :password %></span>
  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
</div>
 -->