<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class= "panel panel-default col-md-3">
  <div class="panel-body">
    <h3>Hiker info:</h3>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div></br>

    <% if logged_in? %>
    <div id="activity"> 
      <p id="mountains-link"><b>Add mountains</b></p>
    </div>
    <div> 
      <p id="hikes-link"><b>Add hikes</b></p>
    </div></br>
    <% end %>

    <div>
      <%= f.submit %>
    </div>
  </div>
</div>
<!--   <h3> New Hike </h3></br>
    <div class="field">
      <#%= f.fields_for :treks, Trek.new do |trek_form| %>
       <#%= trek_form.text_field :name %>
      <#% end %>
    </div>
 -->
<% if logged_in? %>
  <div class="col-md-2 col-md-offset-1 panel panel-default" id="mountains">
    <div class="panel-body" >
    <h3> Forty-sixers climbed: </h3>
      <% @mountains.order(:name).each do |mountain| %>
        <%= check_box_tag "user[mountains][]", mountain.name, @user.mountains.include?(mountain), id: mountain.name, value: mountain.name %> 
      <%= label_tag "#{mountain.name}" %></br>
    <% end %>
    </div>
  </div>
  <div class="col-md-5 col-md-offset-1 panel panel-default" id="hikes">
    <div class="panel-body">
    <h3> Hikes completed: </h3>
      <% @treks.each do |trek| %>
        <%= check_box_tag "user[treks][]", trek.name, @user.treks.include?(trek), id: trek.name, value: trek.name %> 
      <%= label_tag "#{trek.name}" %></br>
      <% end %>
  </div>
    <h3> Don't see your hike listed? </h3>
      Create a new hike <%= link_to 'here', new_trek_path %></br></br>
   </div> 
<%# else %>
<!--   <div class="col-md-3 col-md-offset-1 panel panel-default">
    <div class="panel-body">
    <h3> Forty-sixers climbed: </h3>
      <#% @mountains.each do |mountain| %>
        <#%= check_box_tag "user[mountains][]", mountain.name, @user.mountains.include?(mountain), id: mountain.name, value: mountain.name %> 
      <#%= label_tag "#{mountain.name}" %></br>
    <#% end %>
    </div> -->
  <!-- </div> -->
<% end %>



 <!--  <p>
    Add mountain
    <select name="user[mountains][]">
      <#% @mountains.each do |mountain| %>
      <option value="<#%= mountain.name %>"><#%= mountain.name %></option>
      <#% end %>
    </select>
  </p>

 <div class="field">
    <#%= f.collection_select :user_mountains, Mountain.order(:name), :id, :name %> -->

   <!--  collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) -->
<!--   </div> -->
<!--   <p>
    Add mountain
    <select name="user[mountains][]">
      <#% @treks.each do |trek| %>
      <option value="<#%= trek.id %>"><#%= trek.name %></option>
      <#% end %>
    </select>
  </p> -->

<% end %>