<%= form_for(@trek) do |f| %>
  <% if @trek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trek.errors.count, "error") %> prohibited this trek from being saved:</h2>

      <ul>
      <% @trek.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class= "panel panel-default col-md-3 col-md-offset-1" >
  <div class="panel-body">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <% Mountain.order(:name).each do |mountain| %>
      <%= check_box_tag "trek[mountains][]", mountain.name, @trek.mountains.include?(mountain), id: mountain.name, value: mountain.name %> 
      <%= label_tag "#{mountain.name}" %></br>
    <% end %></br>

    <div class="field">
      <%= f.label :url, 'Navigation' %><br>
      <%= f.text_field :url %>
    </div>

   <div class="field">
      <%= f.label :diff %><br>
      <%= f.select :diff, [['Difficult'], ['Moderate'], ['Easy']] %>
    </div>

    <div class="field">
      <%= f.label :distance %><br>
      <%= f.text_field :distance %>
    </div>


    <div class="field">
      <%= f.label :duration %><br>
      <%= f.select :duration, [['Multiple-days'], ['Full-day'], ['Half-day']] %>
    </div>

    <div class="field">
      <%= f.label :desc %><br>
      <%= f.text_area :desc %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>
<% end %>
