<header class="navbar">
<!--       <nav> -->
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href=<%= root_path %>>ADK 46-R Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Mountains', mountains_path %></li>
            <li><%= link_to 'Hikes', treks_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><a>Logged in as: <%= current_user.email %></a></li>
              <li><%= link_to "logout", logout_path %></li>
            <% else %>
              <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
<!--       </nav> -->
</header>